
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  padding-top:40px;
}

.navbar {
  border-bottom: 6px solid rgb(80, 80, 80);
}
.nav-link {
  font-size:20px;
}

.word-border {
  border-bottom: 2px solid rgb(80, 80, 80);
}

#intro {
  img {
    height:160px;
    width:160px;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  }
}

#skills {
  background-color: rgb(230, 230, 230);
}

.img-icon {
  height: 120px;
  width: 120px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
@media (max-width: 768px) {
  .col-icons {
    flex:0 0 50%;
    max-width:50%;
  }
}

.card {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
  .card-header {
    font-size:40px;
    font-family: 'Oswald', sans-serif;
  }
  .card-body {
    height:200px;
    font-size:20px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

#skills {
  @media (max-width: 768px) {
    h2 {
      font-size: 11px;
    }
    font-size:6.5px;
  }
}

.checked {
  color: rgb(182, 148, 0);
}

.fa {
  size: 20px;
}

.badge {
  margin-bottom: 3px;
  font-size: 22px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.display-3 {
  @media (max-width: 768px) {
    font-size: 50px;
  }
}